.cyber-week-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 1fr auto auto 16px;
  background-color: #0032A0;
  height: 600px;
  max-width: 100%;
  overflow-x: hidden;
}

@media (min-width: 320px) {
  .cyber-week-header {
    height: 464px;
  }
}

@media (min-width: 425px) {
  .cyber-week-header {
    height: 505px;
  }
}

@media (min-width: 523px) {
  .cyber-week-header {
    height: 546px;
  }
}

@media (min-width: 739px) {
  .cyber-week-header {
    height: 652px;
  }
}

@media (min-width: 768px) {
  .cyber-week-header {
    height: 748px;;
  }
}

@media (min-width: 1366px) {
  .cyber-week-header {
    height: 850px;
  }
}

@media (min-width: 1920px) {
  .cyber-week-header {
    height: 900px;
  }
}

.trazo {
  position: absolute;
  z-index: 0;
  top: 289px;
}

@media (min-width: 1920px) {
  .trazo {
    top: 185px;
  }
}

.cm-airplane {
  align-self: end;
  transform: translateX(-279px);
  grid-row: 2;
  z-index: 3;
  padding-top: 111px;
  animation-name: move-plane-star;
  animation-duration: 800ms;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.at-copa {
  grid-row: 4;
  text-align: center;
  margin: 0;
  align-items: center;
}

@media (min-width: 320px) {
  .cm-airplane {
    transform: translateX(-300px);
    padding-top: 160px;
  }
}

@media (min-width: 375px) {
  .cm-airplane {
    transform: translateX(-300px);
    padding-top: 175px;
  }
}

@media (min-width: 425px) {
  .cm-airplane {
    transform: translateX(-300px);
    padding-top: 182px;
  }
}

@media (min-width: 375px) {
  .cm-airplane {
    transform: translateX(-800px);
  }
}

@media (min-width: 655px) {
  .cm-airplane {
    transform: translateX(-1000px);
    padding-top: 164px;
  }
}

@media (min-width: 739px) {
  .cm-airplane {
    transform: translateX(-1200px);
    padding-top: 153px;
  }
}

@media (min-width: 1366px) {
  .cm-airplane {
    align-self: end;
    transform: translateX(-2500px);
    padding-top: 64px;
  }
}

@media (min-width: 1440px) {
  .cm-airplane {
    transform: translateX(-2500px);
    padding-top: 64px;
  }
}

.neon-area {
  visibility: hidden;
  justify-self: center;
  animation-name: appear-neon;
  animation-duration: 800ms;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.destinations-area {
  position: relative;
  padding-top: 60px;
}

@media (min-width: 320px) {
  .destinations-area {
    padding-top: 97px;
  }
}

@media (min-width: 390px) {
  .destinations-area {
    padding-top: 80px;
  }
}
@media (min-width: 425px) {
  .destinations-area {
    padding-top: 96px;
  }
}

@media (min-width: 768px) {
  .destinations-area {
    padding-top: 82px;
  }
}

@media (min-width: 1366px) {
  .destinations-area {
    padding-top: 102px;
  }
}

@keyframes appear-neon {
  to {
    visibility: visible;
  }
}

@keyframes move-plane-star {
  to {
    transform: translateX(0px);
  }
}

.neon-area {
  grid-row: 3;
}

.neon-green {
  z-index: 1;
  position: absolute;
  animation: remove-green-neon 1s steps(5, start) infinite;
}

@media (min-width: 768px) {
  .neon-green {
    height: 150px;
  }
}

@keyframes remove-green-neon {
  to {
    visibility: hidden;
  }
}

.neon-blue {
  z-index: 0;
  position: relative;
}

@media (min-width: 768px) {
  .neon-blue {
    height: 150px;
  }
}

@keyframes remove-blue-neon {
  to {
    visibility: hidden;
  }
}

.cristo-redentor {
  position: absolute;
  z-index: 2;
  height: 150px;
  transform: scale(0);
  animation-name: enlarge-cristo;
  animation-duration: 800ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@media (min-width: 768px) {
  .cristo-redentor {
    height: 248px;
    left: 11%;
    top: 156%;
  }
}

@media (min-width: 1024px) {
  .cristo-redentor {
    height: 330px;
    left: 12%;
    top: 81%;
  }
}

@media (min-width: 1440px) {
  .cristo-redentor {
    height: 358px;
    left: 17%;
    top: 29%;
  }
}

@keyframes enlarge-cristo {
  to {
    transform: scale(1);
  }
}


.miami-lifeguard {
  position: absolute;
  z-index: 2;
  height: 100px;
  transform: scale(0);
  animation-name: enlarge-miami-lifeguard;
  animation-duration: 800ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@media (min-width: 425px) {
  .miami-lifeguard {
    height: 105px;
    left: 11%;
    top: 156%;
  }
}

@media (min-width: 768px) {
  .miami-lifeguard {
    height: 201px;
    left: 11%;
    top: 204%;
  }
}

@media (min-width: 1024px) {
  .miami-lifeguard {
    height: 223px;
    left: 12%;
    top: 179%;
  }
}

@media (min-width: 1366px) {
  .miami-lifeguard {
    height: 268px;
    left: 19%;
    top: 158%;
  }
}

@media (min-width: 1440px) {
  .miami-lifeguard {
    height: 312px;
    left: 17%;
    top: 116%;
  }
}

@media (min-width: 1920px) {
  .miami-lifeguard {
    height: 259px;
    left: 25%;
    top: 152%;
  }
}

@keyframes enlarge-miami-lifeguard {
  to {
    transform: scale(1);
  }
}


.chichen-itza {
  position: absolute;
  z-index: 1;
  height: 158px;
  transform: scale(0);
  animation-name: enlarge-chichen-itza;
  animation-duration: 800ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@media (min-width: 425px) {
  .chichen-itza {
    top: 124%;
    left: 11%;
    height: 144px;
  }
}


@media (min-width: 655px) {
  .chichen-itza {
    top: 24%;
    left: 11%;
    height: 237px;
  }
}

@media (min-width: 768px) {
  .chichen-itza {
    top: 173%;
    left: 21%;
    height: 212px;
  }
}

@media (min-width: 1024px) {
  .chichen-itza {
    top: 161%;
    left: 21%;
    height: 265px;
  }
}

@media (min-width: 1366px) {
  .chichen-itza {
    top: 150%;
    left: 31%;
    height: 265px;
  }
}

@media (min-width: 1440px) {
  .chichen-itza {
    top: 118%;
    left: 27%;
    height: 301px;
  }
}

@media (min-width: 1920px) {
  .chichen-itza {
    top: 98%;
    left: 33%;
    height: 311px;
  }
}

@keyframes enlarge-chichen-itza {
  to {
    transform: scale(1);
  }
}

.palm {
  position: absolute;
  z-index: 2;
  height: 156px;
  transform: scale(0);
  grid-row: 2;
  /* top: 20%; */
  left: 40%;
  animation-name: enlarge-palm;
  animation-duration: 800ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@media (min-width: 425px) {
  .palm {
    height: 110px;
    top: 148%;
    left: 40%;
  }
}
@media (min-width: 655px) {
  .palm {
    height: 171px;
    top: 107%;
    left: 40%;
  }
}

@media (min-width: 768px) {
  .palm {
    height: 237px;
    left: 44%;
    top: 168%;
  }
}

@media (min-width: 1024px) {
  .palm {
    height: 272px;
    left: 46%;
    top: 160%;
  }
}

@media (min-width: 1366px) {
  .palm {
    height: 272px;
    left: 50%;
    top: 134%;
  }
}

@media (min-width: 1440px) {
  .palm {
    height: 269px;
    left: 49%;
    top: 136%;
  }
}

@keyframes enlarge-palm {
  to {
    transform: scale(1);
  }
}

.catedral {
  position: absolute;
  z-index: 2;
  height: 153px;
  transform: scale(0);
  grid-row: 2;
  left: 45%;
  animation-name: enlarge-catedral;
  animation-duration: 800ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@media (min-width: 425px) {
  .catedral {
    height: 172px;
    top: 76%;
  }
}

@media (min-width: 655px) {
  .catedral {
    left: 53%;
    height: 251px;
    top: 0%;
  }
}

@media (min-width: 768px) {
  .catedral {
    left: 58%;
    height: 237px;
    top: 162%;
  }
}

@media (min-width: 1024px) {
  .catedral {
    height: 293px;
    top: 60%;
  }
}

@media (min-width: 1440px) {
  .catedral {
    height: 370px;
    top: 18%;
    left: 55%;
  }
}

@keyframes enlarge-catedral {
  to {
    transform: scale(1);
  }
}

.castle {
  position: absolute;
  z-index: 2;
  height: 153px;
  transform: scale(0);
  grid-row: 2;
  left: 45%;
  animation-name: enlarge-castle;
  animation-duration: 800ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@media (min-width: 425px) {
  .castle {
    height: 172px;
    top: 76%;
    left: 52%;
  }
}

@media (min-width: 655px) {
  .castle {
    left: 53%;
    height: 251px;
    top: 0%;
  }
}

@media (min-width: 768px) {
  .castle {
    left: 55%;
    height: 274px;
    top: 107%;
  }
}

@media (min-width: 1024px) {
  .castle {
    height: 315px;
    top: 32%;
    left: 57%;
  }
}

@media (min-width: 1440px) {
  .castle {
    height: 370px;
    top: 18%;
    left: 55%;
  }
}

@keyframes enlarge-castle {
  to {
    transform: scale(1);
  }
}


.cloud2 {
  position: absolute;
  z-index: 2;
  height: 80px;
  right: 0;
  transform: translateX(108px);
  top: 280%;
  animation-name: move-cloud;
  animation-duration: 800ms;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes move-cloud {
  to {
    transform: translateX(0px);
  }
}

@media (min-width: 320px) {
  .cloud2 {
    transform: translateX(300px);
    top: 211%;
  }
}

@media (min-width: 1024px) {
  .cloud2 {
    transform: translateX(1024px);
    top: 267%;
    height: 130px;
  }
}
